#hero
    display: grid
    align-items: center
    .left
        background-image: url(../img/hero1.jpg)
        background-size: cover
        background-color: gray
        align-items: end
        p
            color: white
            font-size: 5rem
            text-align: start
            margin-left: 1rem
    .right
        background-image: url(../img/hero2.jpg)
        background-size: cover
        background-color: gray
        p
            text-align: end
            margin-right: 1rem
            color: black
            font-size: 3rem
    .left,.right
        display: grid
@media screen and (min-width: 1024px)
    #hero
        grid-template-columns: 50% 45%
        height: calc( 100vh - 60px )
        grid-gap: 5%
        .left
            height: 60vh
        .right
            height: 50vh
@media screen and (max-width: 1024px)
    #hero
        justify-content: center
        grid-template-columns: 1fr
        grid-gap: 1rem
        top: 60px
        .right,.left
            height: 39rem
