#special
    display: grid
    align-items: center
    grid-gap: 10%
    .left
        display: flex
        flex-direction: column
        justify-content: center
        .title
            font-size: 4.8rem
        .desc
            padding-top: 10%
            padding-left: 20%
    .right
        display: grid
        .cards
            overflow: hidden
            .card
                display: grid
                .cardImage
                    height: calc( 50vh - 80px )
                    width: 100%
                .cardText
                    .btn
                        cursor: pointer
                        padding: .7rem 1.2rem
                        border: 1px solid black
                        white-space: nowrap
                        background-color: white
        .navigation
            margin: 10px 0px
            height: 20px
            display: flex
            justify-content: space-between
            align-items: center
            .arrows
                width: 100px
                display: flex
                justify-content: space-between
                .prev,.next
                    cursor: pointer
@media screen and (min-width: 1023px)
    #special
        grid-template-columns: 50% 40%
        height: calc( 100vh - 60px )
        .left
            height: 60vh
        .cardText
            display: flex
            justify-content: space-between
            align-items: center
            height: 60px
@media screen and (max-width: 1023px)
    #special
        padding: 80px 0px
        grid-template-columns: 1fr
        .right
            width: 60%
            margin: 0px auto
            .cards,.navigation
        .cardText
            display: grid
            grid-template-columns: 1fr 1fr
            justify-content: space-between
            align-items: center
            p
                font-size: 1rem
            .productPrice
                margin: 10px 0px
                grid-column: 1 / span 2
